@model IEnumerable<MusicaAut_GaldonMario.Areas.Identity.Data.AuthUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-light">Lista de Usuarios</h1>

<p> 
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Numero de Telefono
            </th>
            <th>
                Usuario
            </th>
            <th>
                Email
            </th>
            <th>
                Email Confirmado
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
               
                <td>
                    <a asp-action="UserEdit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="UserDelete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>