@model MusicaAut_GaldonMario.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Detalles</h1>

<div class=" text-light">
    <h4 class="text-light">Album</h4>
    <hr />
    <dl class="row  text-light">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">

            @Html.DisplayFor(model => model.Title)
        
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">

            @Html.DisplayFor(model => model.Artist.Name)
        
        </dd>
    </dl>
</div>

<table class="table text-light">
    <thead>
        <tr>
            <th>
               Nombre
            </th>
            <th>
                Compositor
            </th>
            <th>
                Tiempo
            </th>
            <th>
                Bytes
            </th>
            <th>
                Precio
            </th>
            <th>
                Album
            </th>
            <th>
                Genero
            </th>
            <th>
                Tipo de Medio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tracks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Composer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Milliseconds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bytes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.Title)
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    
    <a asp-action="Index" class="text-light">Volver a la lista</a>
</div>
