@model IEnumerable<AT02_4_GaldonMario_Musica.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Lista</h1>

<p>
    <a asp-action="CreateAlbum" class="text-light">Crear nuevo</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Artista
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.AlbumId">Detalles</a> |
                    <a asp-action="Edit" asp-route-id="@item.AlbumId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlbumId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
