@model IEnumerable<MusicaAut_GaldonMario.Models.Album>
@using Microsoft.AspNetCore.Identity
@using MusicaAut_GaldonMario.Areas.Identity.Data

@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager
@{
    ViewData["Title"] = "Index";
}
@if (SignInManager.IsSignedIn(User))
{
<h1 class="text-light">Lista</h1>

<p>
    <a asp-action="CreateAlbum" class="text-light">Crear nuevo</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Artista
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.AlbumId">Detalles</a> |
                    <a asp-action="Edit" asp-route-id="@item.AlbumId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlbumId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <h1>Tienes que estar logeado </h1>
    <a class="link-success bg-dark" asp-area="Identity" asp-page="/Account/Login">Login </a>
    
}